<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-logo></app-logo>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 5rem;">
      <ion-col style="text-align: center">
        
          <ion-button color="primary">Existing Customer</ion-button>
          <ion-button color="primary" href="/tabs/tab1/register">Login With Email</ion-button>
          <ion-button color="primary" href="/tabs/tab1/home">Register Now</ion-button>
              
      </ion-col>
    </ion-row>  
  </ion-grid>
 

</ion-content>
