<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{firstFormGroup}}
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>User Details</ng-template>
        <mat-form-field>
          <input matInput placeholder="User Name" formControlName="login" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email"  required>
        </mat-form-field>
        

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Identification</ng-template>
        <mat-form-field>
          <input matInput placeholder="Mobile" formControlName="mobile" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cedula" formControlName="cedula" required>
        </mat-form-field>
       
          <input type="file" name="cedulaImage" (change)="selectFile($event)" formControlName="cedulaImage" >
        
          <input type="file" name="faceImage" (change)="selectFile($event)" formControlName="faceImage">
          
          <input type="file" name="addressImage" (change)="selectFile($event)" formControlName="addressImage">
        
          <input type="file" name="signatureImage" (change)="selectFile($event)" formControlName="signatureImage">
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="addUser()">Submit</button>
      </div>
    </mat-step>
     
  </mat-vertical-stepper>
  <br>
 
</ion-content>
